<%-include('partials/header') -%>
<div class="content">
    
    <div class="welcome-head">
        <h1>Welcome to the Quiz</h1>
    </div>
    <div class="button">
        <a href="/page1" class="btn">Start</a>
    </div>
</div>


<%-include('partials/footer') -%>