<%-include('partials/header') -%>

<div class="questions">
    <div class="ques">
        <h2>Question</h2>
        <div class="div1">
            <h3>Question 1</h3>
            <!-- <form action="">
                <input type="text" placeholder="Type your ans">
                <button>Submit</button>
            </form> -->
            <div class="quesbox">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta harum, eaque quis vitae consequuntur nihil aliquam perspiciatis tenetur ipsum dolores, deleniti laboriosam accusantium nobis! Dicta ipsa placeat obcaecati minus incidunt?</p>
            </div>
        </div>
        <div class="div1">
            <h3>Question 1</h3>
            <!-- <form action="">
                <input type="text" placeholder="Type your ans">
                <button>Submit</button>
            </form> -->
            <div class="quesbox">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta harum, eaque quis vitae consequuntur nihil aliquam perspiciatis tenetur ipsum dolores, deleniti laboriosam accusantium nobis! Dicta ipsa placeat obcaecati minus incidunt?</p>
            </div>
        </div>
        <div class="div1">
            <h3>Question 1</h3>
            <!-- <form action="">
                <input type="text" placeholder="Type your ans">
                <button>Submit</button>
            </form> -->
            <div class="quesbox">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta harum, eaque quis vitae consequuntur nihil aliquam perspiciatis tenetur ipsum dolores, deleniti laboriosam accusantium nobis! Dicta ipsa placeat obcaecati minus incidunt?</p>
            </div>
        </div>
        <div class="div1">
            <h3>Question 1</h3>
            <!-- <form action="">
                <input type="text" placeholder="Type your ans">
                <button>Submit</button>
            </form> -->
            <div class="quesbox">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta harum, eaque quis vitae consequuntur nihil aliquam perspiciatis tenetur ipsum dolores, deleniti laboriosam accusantium nobis! Dicta ipsa placeat obcaecati minus incidunt?</p>
            </div>
        </div>
    </div>
</div>
<%-include('partials/footer') -%>